# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Project specific
ritual
/decks/
/cache/
/collections/
/wanted/
ritual.config.json

.vscode/

set-env.sh

research/

.logins/

.admin-dist/

styles.compiled.css
app.compiled.js
src/generated/

# Personal files
install_dev.sh

# Test files
test-results/
playwright-report/
.playwright-cli/
.server-pids.json
test/.test-*/

# Dev files
*.js.map
